.categories-section-container {
  justify-items: unset;
}

.categories-container {
  display: grid;
  gap: 3rem;

  @media (min-width: 650px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr
  }
}