.button-container {
  padding: 1rem;
  display: block;
  width: 100%;
  background: black;
  color: white;
  font-size: min(7vmin, calc(0.6rem + 1vmin), 1.5rem);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid black;
  transition: .1s all ease-in;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
  }
}

.inverted-button {
  background: white;
  color: black;

  &:hover {
    background: black;
    color: white;
  }
}