:root {
  --dropdown-top: 3.5rem;
}

.cart-dropdown-container {
  position: absolute;
  right: -1rem;
  top: calc(var(--dropdown-top) + 1.9rem);
  width: min(90vw, 35rem);
  height: min(50rem, 80vh);
  padding: min(2rem, 6vw);
  background: var(--soft-accent-color);
  display: flex;
  flex-direction: column;
  cursor: auto;

  & > button {
    margin-top: auto;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-left: 2rem dashed var(--soft-accent-color);
  border-bottom: 1rem solid transparent;
  transform: rotate(270deg);
  position: absolute;
  top: var(--dropdown-top);
  z-index: 1;
  cursor: auto;
}

.cart-items {
  height: min(41rem, 65vh);
  overflow-y: auto;
  margin-right: -0.5rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }
}

.empty-cart-message {
  font-size: min(8vmin, calc(1rem + 1vmin), 2.2rem);
  font-family: var(--serif-font);
  text-align: center;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  line-height: 150%;
}
