:root {
  --dropdown-top: 3.5rem;
}

.cart-dropdown-container {
  position: absolute;
  right: -1rem;
  top: calc(var(--dropdown-top) + 2rem);
  width: min(100vw, 22rem);
  height: 30rem;
  padding: 1.1rem;
  background: white;
  display: flex;
  flex-direction: column;
  cursor: auto;
  border: 2px dashed var(--moderate-accent-color);

  & > button {
    margin-top: auto;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-left: 2rem dashed var(--moderate-accent-color);
  border-bottom: 1rem solid transparent;
  transform: rotate(270deg);
  position: absolute;
  top: calc(var(--dropdown-top) + .2rem);
  z-index: 1;
  cursor: auto;
}

.cart-items {
  height: 23rem;
  overflow-y: auto;
  margin-right: -0.5rem;
  padding-right: 1rem;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }
}
