.filters {
  border-top: 1px solid rgb(212, 212, 212);
  border-bottom: 1px solid rgb(212, 212, 212);
  padding: 3rem 2vw;
  font-size: min(8vmin, calc(1rem + 1vmin), 2.2rem);
}

.filters-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.filters-filters, .filters-sort {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: rgb(134, 134, 134);
  transition: 0.1s all linear;
  cursor: pointer;

  &:hover {
    color: black;
  }
}

.filter-icons {
  font-size: 2.5rem;
}

.filters-body {
  margin-top: 3rem;
}

.filters-form {
  display: flex;
}

.filters-group {
  border: none;
  padding-inline: 0;
}




