.home-blog-container {
  padding: min(8rem, 10vmin) 0;
  display: grid;
  gap: min(8rem, 10vmin);
}

.home-blog-heading {
  text-align: center;
}

.title {
  margin: 0;
}

.subheading {
  font-size: min(4vmin, calc(1.4rem + .6vmax), 1.6rem);
  display: block;
  margin-top: 0.7rem;
}

.home-posts-container {
  display: flex;
  gap: 1rem;

  @media (min-width: 500px) {
    gap: 2rem;
  }

  @media (min-width: 1000px) {
    gap: 3rem;
  }
}