.payment-form-container {
  gap: 3rem;
  grid-template-columns: 1fr 30rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;

  & > * {
    max-width: 30rem;
    grid-column-start: 2;
  }

  @media (min-width: 390px) {
    display: grid;
  }
}

.payment-heading {
  font-family: var(--serif-font);
  margin: 0;
}

.overlay {
  cursor: not-allowed;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
}

.test-card-data {
  color: rosybrown;
  text-align: right;
  display: block;
}