.home-about-container {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 15%, rgba(255,251,245,1) 100%);

  padding: min(8rem, 10vmin) 0;
}

.home-about-quote {
  font-size: var(--title-medium-font-size);
  line-height: 150%;
  position: relative;
  font-style: italic;
  text-align: center;
  max-width: 50ch;
  margin-inline: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-inline: 2rem;

  &:before {
    content: '"';
    display: inline;
    font-size: 25rem;
    height: 0;
    left: -5rem;
    opacity: .15;
    position: absolute;
    top: 8rem;
    color: var(--strong-accent-color);
  }
}
