.item-image-container {
  outline: none;
  cursor: grab;
  padding-inline: .7rem;
}

.item-image {

  object-fit: cover;
}

.item-heading {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  margin: min(4rem, 10vmin) 0 min(6rem, 10vmin);

  .item-name {
    font-family: var(--serif-font);
    font-size: min(7.5vmin, calc(2.7rem + 1.2vmax));
    text-align: center;
    margin: 0;

    & .item-brand {
      font-size: min(5vmin, calc(1.4rem + .6vmax));
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}

.item-visual {
  color: #333333;
  margin-inline: calc(-1 * min(9vmin, 3rem));
  margin-top: 2rem;
}

.item-gallery {

  &.gallery-carousel {
    //white-space: nowrap;
    //font-size: 0;
    //cursor: grab;
    //touch-action: pan-y;
    //overflow: hidden;

    & .item-image {
      //height: 50vw;
      //object-fit: cover;
      //width: calc(100% / 2);
      //margin-left: 1.4rem;
    }

    & .item-image:first-child {
      //margin-left: calc(100% / 4);
    }
  }
}

.item-rating {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.item-price {
  font-size: min(10vmin, calc(2rem + 1vmax));
  font-family: var(--serif-font);
  font-weight: 700;
}

.item-volume, .item-desc-section, .item-desc-text, .item-property, .review {
  font-size: min(8vmin, calc(0.5rem + 1.8vmin), 2.2rem);
  line-height: 200%;
}

.price-and-volume {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-volume {
  font-weight: bold;
  color: black;
  padding: .5rem 2rem;
  border-radius: 5rem;
  border: 1px solid black;
  border-top: 0;
  border-bottom: 0;
  margin: 1rem 0 0;
  //transform: rotate(5deg);
}

.item-subtitle {
  font-weight: bold;
  font-family: var(--serif-font);
}

.item-desc-section {
  width: 100%;
  font-size: min(8vmin, calc(0.5rem + 1.8vmin), 2.2rem);
}

.item-suited-to {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.item-properties {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
  padding: 2rem 1rem;
}

.item-property {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: var(--serif-font);
  flex-grow: 1;
  flex-basis: 0;
}

.item-property-check {
  background: black;
  color: white;
  font-weight: bold;
  border-radius: 13rem;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .9rem;
}

.reviews-section {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}


.reviews-heading {
  font-size: min(10vmin, calc(2rem + 1vmax));
  font-family: var(--serif-font);
  margin: 0;
}

.all-reviews {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.review {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;

  & h3 {
    margin: 0;
    font-weight: 200;
  }
}

.form-review {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}