.product-container {
  padding: min(8rem, 10vmin) 0;
  max-width: 100rem;
  margin-inline: auto;

  &.smaller-screen {
    padding: 0 0 min(8rem, 10vmin) 0;
  }
}

.about-product {
  display: flex;
  gap: 3rem;
}