.form-input-field {
  /* margin-bottom: 2rem; */

  &__label {
    display: block;
    font-size: 14px;
    width: 100%;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 8px;
    color: var(--strong-accent-color);
    pointer-events: none;
    transform: translate(15px, 37px);
    transition: 300ms ease all;

    &.shrink {
      transform: translate(0, 13px);
      font-size: 12px;
      color: var(--strong-accent-color);
    }
  }

  &__input {
    border: 0;
    border-bottom: 2px dashed var(--strong-accent-color);
    color: #2f4f42;
    box-sizing: border-box;
    font-family: var(--serif-font);
    font-size: 14px;
    line-height: 1;
    padding: 12px 20px 12px 12px;
    width: 100%;
    outline: 0;
  }
}
