.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, min(22.5rem, 100%));
  justify-content: center;
  column-gap: 20px;
  row-gap: 50px;
  margin-top: min(6rem, 10vmin);
}

.product {
  display: flex;
  flex-direction: column;
  gap: min(1rem, 2vw);

  &__details {
    display: flex;
    flex-wrap: wrap;
    gap: min(1rem, 2vw);
    justify-content: space-between;

    &__title, &__price, &__desc, &__button {
      font-family: var(--serif-font);
      font-size: min(8vmin, calc(1.2rem + .8vmin), 2.2rem);
      margin: 0;
      font-weight: 500;
    }

    &__desc, &__button {
      font-size: min(8vmin, calc(0.9rem + 1vmin), 1.5rem);
      flex: 1 0 100%;
      margin: 0;
    }

    &__desc {
      color: rgb(148, 148, 148);
    }

    &__button {
      width: 100%;
      background: white;
      padding: 1rem;
      font-weight: 400;
      border: 1px solid black;

      &:hover {
        background: black;
        color: white;
      }
    }
  }
}
