.product {
  display: flex;
  flex-direction: column;
  gap: min(1rem, 2vw);

  &__image {
    height: 30rem;
    object-fit: cover;
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    gap: min(1rem, 2vw);
    justify-content: space-between;

    &__title,
    &__price,
    &__desc,
    &__button {
      font-family: var(--serif-font);
      font-size: min(7vmin, calc(1rem + 0.6vmin), 2.2rem);
      margin: 0;
      font-weight: 500;
    }

    &__desc,
    &__button {
      font-size: min(8vmin, calc(0.9rem + 1vmin), 1.5rem);
      flex: 1 0 100%;
      margin: 0;
    }

    &__desc {
      color: rgb(148, 148, 148);
    }

    &__button {
      width: 100%;
      background: white;
      padding: 1rem;
      font-weight: 400;
      border: 1px solid black;
      font-family: var(--standard-font);

      &:hover {
        background: black;
        color: white;
      }
    }
  }
}