.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.notice {
  background-color: var(--soft-accent-color);
  padding: 1rem;
  font-size: var(--small-text-font-size);
  text-align: center;
  width: 100%;
}

.navigation {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  font-weight: 200;
  background: white;
  height: 6.6rem;
  border-bottom: 1px solid var(--soft-accent-color);
  width: var(--wrapper-width);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: 900px) {
    padding-inline: 2.9rem;
    width: var(--wrapper-width);
  }

}

.left-side-nav,
.right-side-nav {
  font-size: var(--standard-text-font-size);
  font-weight: 300;

  & a,
  & > div {
    padding: 1rem;
  }
}

.left-side-nav {
  grid-column: 1;
}

.right-side-nav {
  grid-column: 3;
  display: flex;
}

.logo-container {
  grid-column: 2;
}

.logo {
  height: 5rem;
}

.menu-icon {
  cursor: pointer;
}