:root {
  --bar-width: min(4rem, 8vmin);
  --bar-height: .2rem;
  --hamburger-gap: 1rem;
  --hamburger-margin: 2rem;
  --foreground: #333;
  --background: white;
  --animation-timing: 100ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
}

/* Free shippinig worldwide */

.notice {
  background-color: #FFF8F2;
  padding: 1rem;
  font-size: min(4vmin, calc(0.8rem + 0.5vmax));
  text-align: center;
  width: 100%;
}

.navigation {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  font-weight: 200;
  background: white;
  height: 6.6rem;
  border-bottom: 1px solid #FFF8F2;
}

.left-side-nav, .right-side-nav {
  font-size: min(1.5rem, calc(2.7rem + 1vmax));
  font-weight: 300;

  & a {
    padding: 1rem;
  }
}

.left-side-nav {
  grid-column: 1;
}

.right-side-nav {
  grid-column: 3;
}

.logo-container {
  grid-column: 2;
  font-size: min(6.5vmin, calc(1.3rem + 1.2vmax));
}

.logo {
  height: 5rem;
}