.featured-product-container {
  padding: min(8rem, 10vmin) 0;
}

.featured-description {
  max-width: 38ch;
  line-height: 150%;
  text-align: center;
  font-size: min(7vmin, calc(0.5rem + 1.5vmin), 2.2rem);
  margin: 0;
}

.featured-image {
  display: block;
  width: 70%;
}