.featured-product-container {
  padding: min(8rem, 10vmin) 0;
}

.featured-description {
  max-width: 38ch;
  line-height: 150%;
  text-align: center;
  font-size: var(--standard-text-font-size);
  margin: 0;
}

.featured-image {
  display: block;
  width: 70%;
}