.subheading {
  display: block;
  font-size: var(--small-text-font-size);
  text-align: center;
  margin-bottom: min(3rem, 10vmin);
}

.form button {
  margin-top: min(4rem, 10vmin);
}

.auth-form-container {
  max-width: 40rem;
  margin-inline: auto;
  padding-inline: min(1rem, 3vmin);
}

.form-input-field {

  &__label {
    display: block;
    font-size: 14px;
    width: 100%;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 8px;
  }

  &__input {
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    font-family: var(--standard-font);
    font-size: var(--standard-text-font-size);
    line-height: 1;
    padding: 12px 20px 12px 12px;
    width: 100%;
    outline: 1px solid #e5e5e5;
  }
}