:root {
  --serif-font: "Inria Serif", "Baskerville", "Georgia", Times, serif;
  --standard-font: "Inter", "Helvetica", "Calibri", sans-serif;
  --soft-accent-color: #fdf8f6;
  --moderate-accent-color: #f5ddba;
  --strong-accent-color: #E0C3B5;

}

html {
  box-sizing: border-box;
  font-family: var(--standard-font);
  font-size: 62.5%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

h1,
h2 {
  font-weight: normal;
}

a {
  color: black;
  font-family: var(--standard-font);
  text-decoration: none;
}

img {
  width: 100%;
}

.em {
  color: var(--strong-accent-color);
}

.serif {
  font-family: var(--serif-font);
}

.side-space {
  padding-inline: min(5vw, 3rem);
}

.title {
  margin: 0;
  font-family: var(--serif-font);
  font-size: min(7.5vmin, calc(2.7rem + 1.2vmax), 4.7rem);
}

.page-heading {
  font-family: var(--serif-font);
  font-size: min(7.5vmin, calc(2.7rem + 1.2vmax));
  text-align: center;
  margin: 0;
}

.subheading {
  display: block;
  font-size: min(4vmin, calc(0.7rem + 0.7vmax));
  text-align: center;
  margin: min(4rem, 10vmin) 0 min(3rem, 10vmin) 0;
}

.page-container {
    padding: min(8rem, 10vmin, 4rem) 0 min(8rem, 10vmin) 0;
    display: grid;
    gap: min(8rem, 10vmin);
}

.section {
  padding: min(8rem, 10vmin) 0;
  display: grid;
  gap: min(8rem, 10vmin);
  justify-items: center;
}

.section-title {
  @extend .title;
  text-align: center;
}

.icon {
  width: min(6.5vmin, calc(1.3rem + 1.2vmax));
  height: min(6.5vmin, calc(1.3rem + 1.2vmax));
}

.auth-form-container {
  max-width: 40rem;
  margin-inline: auto;
  padding-inline: min(1rem, 3vmin);
}

form {
  display: flex;
  flex-direction: column;
}

.underlined-link {
  display: block;
  text-decoration: underline;
  text-align: center;
  font-size: min(7vmin, calc(0.6rem + 1vmin), 1.5rem);
  margin-top: min(4rem, 10vmin);
  text-transform: uppercase;
}

/* scrollbar thickness */
::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6f6f6f;
  transition: 0.5s;
  border-radius: 25px;
  margin-left: 5px;
}

.article ::-webkit-scrollbar-thumb {
  border-bottom: 7px solid #333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Invinsible scroll buttons to shorten scroll track */
.article ::-webkit-scrollbar-button {
  border: 1px solid transparent;
  height: 20px;
  width: 15px;
  border-radius: 100px;
}

/* For webkit-based browsers */
::-webkit-scrollbar-track {
  background-color: var(--soft-accent-color); /* Set the background color of the track */
}

.slick-active > div {
  color: black!important;
  font-weight: bold;
}

.slick-slide {
  transition: all .3s;
  margin-bottom: 1rem;
}

.slick-slide:not(.slick-active) {
  filter: opacity(50%);
}

.submit-review-button {
  margin-top: min(4rem, 10vmin);
}

.instagram-media {
  position: relative!important;
}