:root {
  --serif-font: 'Inria Serif', 'Baskerville', 'Georgia', Times, serif;
  --standard-font: 'Inter', 'Helvetica', 'Calibri', sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--standard-font);
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2 {
  font-weight: normal;
}

a {
  color: black;
  font-family: var(--standard-font);
  text-decoration: none;
}

img {
  width: 100%;
}

.em {
  color: #a89565;
}

.serif {
  font-family: var(--serif-font);
}

.container {
  margin-top: 10rem;
  display: flow-root;
}

.side-space {
  padding-inline: min(5vw, 3rem);
}

.title {
  margin: 0;
  font-family: var(--serif-font);
  font-size: min(7.5vmin, calc(2.7rem + 1.2vmax));
}

.page-heading {
  font-family: var(--serif-font);
  font-size: min(7.5vmin, calc(2.7rem + 1.2vmax));
  margin: min(4rem, 10vmin) 0 min(6rem, 10vmin);
  text-align: center;
}

.subheading {
  display: block;
  font-size: min(4vmin, calc(0.7rem + 0.7vmax));
  text-align: center;
  margin: min(4rem, 10vmin) 0 min(3rem, 10vmin) 0;
}

.section-title {
  @extend .title;
  text-align: center;
  margin: min(8rem, 10vmin) 0;
}

.icon {
  width: min(6.5vmin, calc(1.3rem + 1.2vmax));
  height: min(6.5vmin, calc(1.3rem + 1.2vmax));
}

.auth-form-container {
  max-width: 40rem;
  margin: auto;
  padding: min(1rem, 3vmin);
}

form {
  display: flex;
  flex-direction: column;
}

.underlined-link {
  display: block;
  text-decoration: underline;

  &-button {
    text-align: center;
    font-size: min(7vmin, calc(0.6rem + 1vmin), 1.5rem);
    margin-top: min(4rem, 10vmin);
    text-transform: uppercase;
  }
}