:root {
  --serif-font: "Inria Serif", "Baskerville", "Georgia", Times, serif;
  --standard-font: "Inter", "Helvetica", "Calibri", sans-serif;
  --soft-accent-color: #fdf8f6;
  --moderate-accent-color: #f5ddba;
  --strong-accent-color: #E0C3B5;
  --linear-accent-color: linear-gradient(to right, mistyrose, var(--strong-accent-color));
  --title-responsive-font-size: min(7.5vmin, calc(2.7rem + 1.2vmax));
  --medium-responsive-font-size: min(5vmin, calc(1.3rem + 1vmax));
  --standard-text-font-size: 1.7rem;
  --small-text-font-size: 1.5rem;
  --standard-spacing: min(8rem, 10vmin);
  --standard-line-height: 150%;
  --wrapper-width:  min(100%, 130rem);
}

html {
  box-sizing: border-box;
  font-family: var(--standard-font);
  font-size: 62.5%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

h1,
h2 {
  font-weight: normal;
}

a {
  color: black;
  font-family: var(--standard-font);
}

img {
  width: 100%;
}





/* ****************************
       Reusable classes
**************************** */

.em {
  color: var(--strong-accent-color);
}

/* Home sections */
.section {
  padding: min(8rem, 10vmin) 0;
  display: grid;
  gap: min(8rem, 10vmin);
  justify-items: center;
}

/* Home sections heading */
.section-title {
  margin: 0;
  font-family: var(--serif-font);
  font-size: var(--title-responsive-font-size);
  text-align: center;
}

/* Individual page container */
.page-container {
  padding: min(8rem, 10vmin, 4rem) 0 min(8rem, 10vmin) 0;
  display: grid;
  gap: min(8rem, 10vmin);
}

/* Individual page heading */
.page-heading {
  font-family: var(--serif-font);
  font-size: var(--title-responsive-font-size);
  text-align: center;
  margin: 0;
}





/* ****************************
   (Cart Dropdown) Scrollbar
**************************** */

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #6f6f6f;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background-color: whitesmoke;
}





/* *********************************
 Slick slider component adjustments
         opacity effect
********************************* */

.slick-slide {
  transition: all .3s;
  margin-bottom: 2rem;
}

.slick-slide:not(.slick-active) {
  filter: opacity(50%);
}





/* *********************************
        Product review form
********************************* */

/* Material input components */
.input-field {
  margin: 0;

  /* Removed underline effects */
  & .MuiInputBase-root::before, & .MuiInputBase-root::after {
    border-bottom: 0!important;
  }

  /* Input text */
  & .MuiInputBase-input {
    font-size: var(--standard-text-font-size);
    padding: .8rem;
    border-bottom: 2px dashed var(--strong-accent-color) !important;
    line-height: 130%;
  }

  /* Input label */
  & .MuiInputLabel-root {
    font-size: var(--standard-line-height);
    color: var(--strong-accent-color);
    top: .7rem;
  }

  & .MuiInputLabel-root.Mui-focused {
    color: var(--strong-accent-color);
    font-size: 1.9rem;
  }

  & .MuiInputLabel-shrink {
    top: -0.5rem;
    font-size: 1.9rem;
  }
}

/* Review form - material rating component */
.input-rating {
  & .MuiRating-icon {
    color: var(--strong-accent-color);
    font-size: 2rem;
  }
}

/* Thank you note after user leaves a review */
.ty-review-note .MuiPaper-root {
  font-size: 1.6rem;
  background: white;
  color: var(--strong-accent-color);
  justify-content: center;
}





/* *********************************
       Instagram component
********************************* */

/* Without this will make small screens act out */
.instagram-media {
  position: relative!important;
}